@{
    Layout = "_ProviderLayout";
}

@model learning1.DBEntities.ViewModel.CloseCaseViewModel;


<div class="container mb-4">
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h4 class="">Conclude Case</h4>
        <div class="d-flex justify-content-end m-4">
            <a href="javascript: history.go(-1)"
               class="btn btn-outline-info font-info text-decoration-none text-info fs-6 bg-white dark-mode1 d-flex align-items-center gap-1">
                <img src="/assets/images/chevron-left.svg" alt=""> Back
            </a>
        </div>
    </div>


    <div class="main-content shadow border-0 bg-white">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <h6 class="ms-4 mt-3 "> Patient Name </h6>
                <span>
                    <span class="text-info ms-4 fw-bold fs-4"> @Model.FirstName @Model.LastName</span>
                    MD450456945
                </span>
            </div>

        </div>

        <div class="d-flex justify-content-between ">
            <h6 class="ms-4 fs-4"> Documents</h6>
            <div>

                <form method="post" asp-action="ConcludeCareUpload" asp-controller="Provider" class="input-group my-5 mt-3" enctype="multipart/form-data" id="UploadDocForm">
                    <input type="text" asp-for=@Model.ReqId hidden />
                    <div class="form-floating me-1">


                        <input style="display:none" asp-for=FileforConcludeCare type="file" id="my-file4" onchange="submitForm()">
                        <button type="button" class="btn btn-outline-info text-info me-2 " id="" onclick="document.getElementById('my-file4').click()">
                            <i class="bi bi-cloud-arrow-up fw-bold fst-normal ">
                                <span>Upload</span>
                            </i>
                        </button>
                    </div>
                </form>

            </div>
        </div>

        <div class=" d-none d-sm-block">

            @if (Model.Files.Count() != 0)
            {
                <table class="table border border-top-0 ">
                    <thead class="thead-">
                    <thead class="thead-light " style="background-color:#dee2e6">
                        <tr>

                            <th></th>
                            <th>
                                Upload Date<i class="bi bi-arrow-up-short"></i>
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            @foreach (var item in Model.Files)
                            {
                            <tr>
                                <td>
                                    <i class="bi bi-file-earmark-fill ms-2" style="color:red"></i>
                                        @item.FileName
                                </td>
                                <td>@item.CreatedDate.ToString("MMM dd, yyyy")</td>
                                <td>
                                    <a href="~/UploadedFiles/@item.FileName" class="btn px-2 py-1 btn-outline-info shadow-none night-mode-btn" download>
                                        <i class="bi bi-cloud-download"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                    </tbody>
                </table>
            }
            else
            {
                <p class="ms-4 fw-bold"> Don't have any documents yet </p>
            }
        </div>

        <div class=" d-block d-md-none mt-2">

            <hr />
            @if (Model.Files.Count() != 0)
            {
                @foreach (var item in Model.Files)
                {
                    <div class="ms-4">
                        <span class="d-block fs-4">
                            <i class="bi bi-file-earmark-fill" style="color:red"></i>
                            @item.FileName
                        </span>
                        <span class="d-block fs-4">
                            @item.CreatedDate.ToString("MMM dd, yyyy")
                        </span>
                        <span>
                            <a href="~/UploadedFiles/@item.FileName" class="btn px-2 py-1 btn-outline-info shadow-none night-mode-btn" download>
                                <i class="bi bi-cloud-download"></i>
                            </a>
                        </span>
                    </div>
                    <hr />
                }
            }
            else
            {
                <p class="ms-4 fw-bold"> Don't have any documents yet </p>
            }
        </div>

        <h6 class="ms-4 fs-5">Provider Notes</h6>
        <form asp-action="ConcludCareFinal" asp-controller="Provider" asp-route-id="@Model.ReqId">

            <div class="row mb-4 m-0">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-floating mt-2">
                        <textarea asp-for="ProviderNotes" class="form-control focus-ring focus-ring-light"
                                  placeholder="Leave a comment here" id="floatingTextarea2"
                                  style="height: 100px"></textarea>
                        <label for="floatingTextarea2" id="txt1">
                            Provider Notes
                        </label>
                    </div>
                </div>


            </div>



            <div class="d-flex justify-content-end mx-0" id="">
                @* onclick="CheckIsFormFInalizeAndRes()" *@
                <a class="btn btn-outline-info me-3 my-3" type="button" asp-route-requestId="@Model.ReqId" asp-action="ConcludeStateChange" asp-controller="provider">Conclude Care</a>
                <button hidden id="submitbtn"> Submit</button>
            </div>

        </form>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    const phoneInputField1 = document.querySelector("#phone1");
    const phoneInput1 = window.intlTelInput(phoneInputField1, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
</script>

<script>


    function CheckIsFormFInalizeAndRes() {


        $.ajax({
            url: "/Provider/IsFormFinalize",
            type: "GET",
            data: { requestId: @Model.ReqId },
            success: function (response) {

                if (response) {
                    var res = confirm("Are you sure you want to conclude the case?")
                    if (res) {
                        $('#submitbtn').click();
                    }
                } else {
                    alert("Please Finalize the Encounter Form to conclude this case")
                    return;
                }
            },
            error: function (jqXHR, error, errorThrown) {
                if (jqXHR.status) {
                    alert(jqXHR.responseText);
                } else {
                    alert("Something went wrong");
                }
            }
        });



    }

    function submitForm() {
        document.getElementById("UploadDocForm").submit();
    }

</script>