@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-md-block d-none">
    <table class="table-responsive w-100">


        <tr class="border border-bottom border-white bg-secondary-subtle">
            <td scope="col" class="py-3 ps-4">Name</td>
            <td scope="col" class="py-3 ">Date of Birth</td>
            <td scope="col" class="py-3">Requestor</td>
            <td scope="col" class="py-3">Requested Date</td>
            <td scope="col" class="py-3">Phone</td>
            <td scope="col" class="py-3">Address</td>
            <td scope="col" class="py-3">Notes</td>
            <td scope="col" class="py-3">Chat With</td>
            <td scope="col" class="py-3">Actions</td>
        </tr>

        @foreach (var items in Model.TableViewModel)
        {
            <tr class="bg-success border border-bottom border-white">

                <td class="text-white py-5 ps-4">@items.Name</td>
                <td class="text-white py-3 ps-2">-</td>
                <td class="text-white py-3 ps-2">Patient @items.Requester</td>
                <td class="text-white py-3 ps-2">@items.RequestedDate</td>
                <td class="text-white ps-2">
                    @if (items.Phone != null)
                    {

                        <button class="border border-white py-1 w-75 text-white bg-success text-start"><i class="bi bi-telephone pe-2"></i>@items.Phone</button>
                        <div class="text-white">(Patient)</div>
                    }

                </td>
                <td class="text-white py-3 ps-2">Addresssssssssssss</td>
                <td class="text-white py-3 ps-2"> - </td>
                <td><button type="button" class="btn btn-sm border border-white text-white">Provider</button></td>
                <td>
                    <div class="btn-group">
                        <button class="btn border border-white text-white btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Assign Case</a></li>
                            <li><a class="dropdown-item" href="#">Cancel Case</a></li>
                            <li><a class="dropdown-item" asp-action="ViewCase" asp-controller="Admin" asp-route-requestId="@items.RequestId">View Case</a></li>
                            <li><a class="dropdown-item" href="#">View Notes</a></li>
                            <li><a class="dropdown-item" href="#">Block Patients</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }


    </table>

</div>