@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

@model learning1.DBEntities.ViewModel.RecordsViewModel;

<div class="d-md-block">

    <table class="table-responsive table-hover w-100">
        <tr class="border-bottom border-secondary-subtle bg-secondary-subtle">
            <td scope="col" class="py-3 ps-4">Patient Name</td>
            <td scope="col" class="py-3">Requester</td>
            <td scope="col" class="py-3">Date Of Service</td>
            <td scope="col" class="py-3">Close Case Date</td>
            <td scope="col" class="py-3">Email</td>
            <td scope="col" class="py-3">Phone Number</td>
            <td scope="col" class="py-3">Address</td>
            <td scope="col" class="py-3">Zip</td>
            <td scope="col" class="py-3">Requested Status</td>
            <td scope="col" class="py-3">Physician</td>
            <td scope="col" class="py-3">Physician Note</td>
            <td scope="col" class="py-3">Cancelled By Provider Note</td>
            <td scope="col" class="py-3">Admin Note</td>
            <td scope="col" class="py-3">Patient Note</td>
            <td scope="col" class="py-3 d-flex justify-content-center">Delete Permanently</td>
        </tr>


        @foreach (var items in Model.searchRecords)
        {

            <tr class="border-bottom border-secondary-subtle">
                <td class="ps-4 py-3">@items.PatientName</td>
                <td class="py-3">@items.Requester</td>
                <td class="py-3">Oct 10, 2023</td>
                <td class="py-3">Dec 10, 2023</td>
                <td class="py-3">@items.Email</td>
                <td class="py-3">@items.PhoneNumber</td>
                <td class="py-3">@items.Address</td>
                <td class="py-3">@items.Zipcode</td>
                <td class="py-3">@items.RequestStatus</td>
                <td class="py-3">@items.Physician</td>
                <td class="py-3">@items.PhysicianNote</td>
                <td class="py-3"></td>
                <td class="py-3">@items.AdminNote</td>
                <td class="py-3"></td>
                <td class="d-flex justify-content-center py-3">
                    <a class="btn btn-outline-info text-info bg-white">Delete</a>
                </td>
            </tr>
        }






    </table>
</div>