@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    Layout = null;
}

@model learning1.DBEntities.ViewModel.VendorViewModel;

<div class="d-md-block d-none overflow-x-auto">

    <table class="table-responsive w-100">
        <tr class="border-bottom border-secondary-subtle bg-secondary-subtle">
            <td scope="col" class="py-3 ps-4">Profession</td>
            <td scope="col" class="py-3">Business Name</td>
            <td scope="col" class="py-3">Email</td>
            <td scope="col" class="py-3">Fax Number</td>
            <td scope="col" class="py-3">Phone Number</td>
            <td scope="col" class="py-3">Business Contact</td>
            <td scope="col" class="py-3 d-flex justify-content-center">Actions</td>
        </tr>



        @foreach (var items in Model.VendorTableViewModals)
        {
            <tr class="border-bottom border-secondary-subtle">
                @{
                    Dictionary<int?, string> ProfessionTextMap = new Dictionary<int?, string>
            {
            { 1, "Cardiology" },
            { 2, "Wound Care Nursing" },
            { 3, "Pharmacy" },
            { 4, "ENT" },
            { 5, "Dentist" },
            { 6, "Imaging - XRAY, CT, MRI" },
            // Add more mappings as needed
            };
                }
                <td class="ps-4 py-1">@ProfessionTextMap[items.Profession]</td>
                <td class="py-1">@items.BusinessName</td>
                <td class="py-1">@items.Email</td>
                <td class="py-1">@items.FaxNumber</td>
                <td class="py-1">@items.PhoneNumber</td>
                <td class="py-1">@items.BusinessContact</td>
                <td class="d-flex justify-content-center py-1 gap-1">
                    <a type="submit" class="btn btn-outline-info text-info bg-white" asp-action="EditBusiness" asp-controller="Admin" asp-route-VendorId=@items.VendorId>Edit</a>
                    <button type="submit" class="btn btn-outline-info text-info bg-white" onclick="DeleteBusiness(@items.VendorId)">Delete</button>
                </td>
            </tr>

        }

    </table>

</div>




<div class="d-md-none">
    <div class="accordion accordion-flush" id="accordionFlushExample">
            @foreach (var items in Model.VendorTableViewModals)
            {
        <div class="accordion-item border border-start-0 border-end-0 border-secondary-subtle">

                <h2 class="accordion-header border-0 shadow">
                    <div class="accordion-button collapsed bg-primary-subtle" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-@items.VendorId" aria-expanded="false"
                         aria-controls="flush-@items.VendorId">
                        <div class="container-fluid">
                            @items.BusinessName
                        </div>
                    </div>
                </h2>

                <div id="flush-@items.VendorId" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">

                   
                    <div class="accordion-body mt-2 vstack gap-2">
                        <div class="d-flex align-items-center gap-2 flex-wrap">
                            <div class ="rounded-circle border border-info">
                                <i class="bi bi-envelope text-info m-1"></i>
                            </div>
                            <label for="" class="text-secondary">Email:</label>
                            <span>@items.Email</span>
                        </div>
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <div class="rounded-circle border border-info">
                                <i class="bi bi-telephone text-info m-1"></i>
                            </div>
                            <label for="" class="text-secondary">Fax:</label>
                            <span>@items.FaxNumber</span>
                        </div>
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <div class="rounded-circle border border-info">
                                <i class="bi bi-telephone text-info m-1"></i>
                            </div>
                            <label for="" class="text-secondary">Phone Number:</label>
                            <span>@items.PhoneNumber</span>
                        </div>
                        <div class="d-flex align-items-center flex-wrap gap-2">
                            <div class="rounded-circle border border-info">
                                <i class="bi bi-envelope text-info m-1"></i>
                            </div>
                            <label for="" class="text-secondary">Business Contact:</label>
                            <span>@items.BusinessContact</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-end gap-2">
                            <a type="submit" class="btn btn-outline-info text-info bg-white" asp-action="EditBusiness" asp-controller="Admin" asp-route-VendorId=@items.VendorId>Edit</a>
                            <button type="submit" class="btn btn-outline-info text-info bg-white" onclick="DeleteBusiness(@items.VendorId)">Delete</button>
                        </div>
                    </div>
                </div>
        </div>
            }
    </div>
</div>


<script>
    function DeleteBusiness(id) {
        var response = confirm("Confirm, To Delete Business");
        if (response) {
            $.ajax({
                method: "post",
                url: "/Admin/DeleteBusiness",
                data: {
                    VendorId: id,
                },
                success: function () {
                    window.location.reload();
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    }


</script>