@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model learning1.DBEntities.ViewModel.AdminDashboardViewModel;



<div class="d-md-block d-none overflow-x-auto">
    <table class="table-responsive w-100">


        <tr class="border border-bottom border-white bg-secondary-subtle">
            <td scope="col" class="py-3">Name</td>
            <td scope="col" class="py-3 ">Date of Birth</td>
            <td scope="col" class="py-3">Requestor</td>
            <td scope="col" class="py-3">Requested Date</td>
            <td scope="col" class="py-3">Phone</td>
            <td scope="col" class="py-3">Address</td>
            <td scope="col" class="py-3">Notes</td>
            <td scope="col" class="py-3">Chat With</td>
            <td scope="col" class="py-3">Actions</td>
        </tr>

        
        
        @foreach (var items in Model.TableViewModel)
        {
            
            var bgcolor = "";
            if (@items.RequestType.ToString()=="Family")
            {
                bgcolor = " rgb(212, 107, 21)";
            }
            else if (@items.RequestType.ToString()=="Business")
            {
                bgcolor = "rgb(203, 22, 134)";
            }
            else if (@items.RequestType.ToString() == "Concierge")
            {
                bgcolor = "rgb(65, 65, 232)";
            }
            else
            {
                bgcolor = "rgb(15, 189, 64)";
            }

            <tr class=" border border-bottom border-white" style="background-color:@bgcolor">

                <td class="text-white py-5">@items.Name </td>
                <td class="text-white py-3">
                   <img src="~/assets/images/envelope.svg" class="p-1 border "> 12 June,2019
                </td>
                <td class="text-white py-3 ">@items.RequestType @items.Requester</td>
                <td class="text-white py-3">@items.RequestedDate</td>
                <td class="text-white py-3">
                    @if (items.PhoneNumber != null)
                    {
                        <button class=" btn btn-outline-white border border-white w-100 text-white text-start"><i class="bi bi-telephone pe-2"></i>@items.PhoneNumber</button>
                        <div class="text-white">(Patient)</div>
                    }
                    @if (items.Phone != null && items.RequestType.ToString()!="Patient")
                    {
                        <button class=" btn btn-outline-white border border-white w-100 text-white text-start"><i class="bi bi-telephone pe-2"></i>@items.Phone</button>
                        <div class="text-white">(@items.RequestType)</div>
                    }
                </td>
                <td class="text-white py-3">@items.Address</td>
                <td class="text-white py-3"> - </td>
                <td><button type="button" class="btn btn-sm border border-white text-white">Provider</button></td>
                <td>
                    <div class="btn-group">
                        <button class="btn border border-white text-white btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item d-flex" data-bs-toggle="modal"
                                   data-bs-target="#AssignCaseModal" data-bs-whatever="" onclick="onAssign('@items.Name','@items.RequestId')"><i class="bi bi-file-text me-2"></i>Assign Case</a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex" data-bs-toggle="modal"
                                   data-bs-target="#CancelCaseModal" data-bs-whatever="" onclick="onCancel('@items.Name','@items.RequestId')"><i class="bi bi-x-circle  me-2"></i>Cancel Case</a>
                            </li>
                            <li><a class="dropdown-item d-flex" asp-action="ViewCase" asp-controller="Admin" asp-route-requestId="@items.RequestId"><i class="bi bi-file-earmark-font me-2"></i>View Case</a></li>
                            <li><a class="dropdown-item d-flex" asp-action="ViewNotes" asp-controller="Admin" asp-route-requestId="@items.RequestId"><i class="bi bi-file-earmark-text me-2"></i>View Notes</a></li>
                            <li>
                                <a class="dropdown-item d-flex" data-bs-toggle="modal"
                                   data-bs-target="#BlockCaseModal" data-bs-whatever="" onclick="onBlock('@items.Name','@items.RequestId')"><i class="bi bi-ban me-2"></i>Block Patients</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>

</div>