@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model learning1.DBEntities.ViewModel.ProviderDashboardViewModel;








<div class="d-md-block d-none overflow-x-auto">




    <table class="table-responsive w-100">


        <tr class="border border-bottom border-white bg-secondary-subtle">
            <td scope="col" class="py-3 ps-4">Name</td>
            <td scope="col" class="py-3 "></td>
            <td scope="col" class="py-3">Phone</td>
            <td scope="col" class="py-3">Address</td>
            <td scope="col" class="py-3">Actions</td>
        </tr>



        @foreach (var items in Model.TableViewModel)
        {

            var bgcolor = "";
            if (@items.RequestType.ToString() == "Family")
            {
                bgcolor = " rgb(212, 107, 21)";
            }
            else if (@items.RequestType.ToString() == "Business")
            {
                bgcolor = "rgb(203, 22, 134)";
            }
            else if (@items.RequestType.ToString() == "Concierge")
            {
                bgcolor = "rgb(65, 65, 232)";
            }
            else
            {
                bgcolor = "rgb(15, 189, 64)";
            }

            <tr class="border border-bottom border-white" style="background-color:@bgcolor">
                <td class="text-white py-5 ps-4">@items.Name</td>
                <td class="text-white p-3"><i class="bi bi-chat-left-text"></i></td>
                <td class="text-white py-3">
                    @if (items.PhoneNumber != null)
                    {
                        <button class=" btn btn-outline-white border border-white w-100 text-white text-start"><i class="bi bi-telephone pe-2"></i>@items.PhoneNumber</button>
                        <div class="text-white">(Patient)</div>
                    }
                    @if (items.Phone != null && items.RequestType.ToString() != "Patient")
                    {
                        <button class=" btn btn-outline-white border border-white w-100 text-white text-start"><i class="bi bi-telephone pe-2"></i>@items.Phone</button>
                        <div class="text-white">(@items.RequestType)</div>
                    }
                </td>
                <td class="text-white py-3">@items.Address</td>
                <td>
                    <div class="btn-group">
                        <button class="btn border border-white text-white btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item d-flex" onclick="ConfirmAccept(@items.RequestId)"><i class="bi bi-file-earmark-check me-2"></i>Accept</a></li>
                            <li><a class="dropdown-item d-flex" asp-action="ViewCase" asp-controller="Provider" asp-route-requestId="@items.RequestId"><i class="bi bi-file-earmark-font me-2"></i>View Case</a></li>
                            <li><a class="dropdown-item d-flex" asp-action="ViewNotes" asp-controller="Provider" asp-route-requestId="@items.RequestId"><i class="bi bi-file-earmark-text me-2"></i>View Notes</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>

    @if (Model.TotalRecord == 0)
    {
        <partial name="_NoData" />
    }

</div>


<div class="d-md-none">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item shadow-sm">
            @foreach (var items in Model.TableViewModel)
            {


                var bgcolor = "";
                if (@items.RequestType.ToString() == "Family")
                {
                    bgcolor = " rgb(212, 107, 21)";
                }
                else if (@items.RequestType.ToString() == "Business")
                {
                    bgcolor = "rgb(203, 22, 134)";
                }
                else if (@items.RequestType.ToString() == "Concierge")
                {
                    bgcolor = "rgb(65, 65, 232)";
                }
                else
                {
                    bgcolor = "rgb(15, 189, 64)";
                }


                <h2 class="accordion-header">
                    <div class="accordion-button collapsed bg-primary-subtle" type="button"
                         data-bs-toggle="collapse" data-bs-target="#flush-@items.RequestId" aria-expanded="false"
                         aria-controls="flush-@items.RequestId">
                        <div class="container-fluid">
                            <div class="d-flex justify-content-between mb-3">
                                <div class="">
                                    <h6>@items.Name</h6>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <h6 class="me-1">@items.RequestType</h6>
                                    <div class="rounded-circle mt-1"
                                         style="height: 12px; width: 12px; background-color:@bgcolor ">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    <p class="fw-normal mb-0 text-break">@items.Address</p>
                                </div>
                                <div class="">
                                    <button class="btn btn-outline-info btn-sm rounded-pill">
                                        Map Location
                                    </button>
                                </div>
                            </div>
                            <div class="d-flex">
                                <img src="" alt="">
                                <p class="text-secondary fw-small" style="font-size: 0.8rem;">
                                    Wait Time: <span class="fw-small">Dec 5,2023 08:52AM (641.59)</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </h2>
                <div id="flush-@items.RequestId" class="accordion-collapse collapse"
                     data-bs-parent="#accordionFlushExample">

                    <hr class="m-0">
                    <div class="d-flex justify-content-end" style="margin-top: -12px; ">
                        <a class="btn text-primary btn-outline-primary rounded-pill bg-white py-0 px-2 me-4 z-3"
                           style="font-size:small; position: absolute;" asp-action="ViewCase" asp-controller="Provider" asp-route-requestId="@items.RequestId">
                            View Case
                        </a>
                    </div>


                    <div class="accordion-body container-fluid mt-2">
                        <div class="d-flex">
                            <div class="me-1">
                                <i class="bi bi-envelope"></i>
                            </div>
                            <label for="" class="me-2 text-secondary">Email:</label>
                            <p>@items.Email</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-1">
                                <i class="bi bi-telephone"></i>
                            </div>
                            <label for="" class="me-2 text-secondary">Patient:</label>
                            <p>@items.PhoneNumber</p>
                        </div>
                        <div class="d-flex">
                            <div class="me-1">
                                <i class="bi bi-person"></i>
                            </div>
                            <label for="" class="me-2 text-secondary">Requestor:</label>
                            <p>@items.RequestType @items.Requester</p>
                        </div>
                        <div>
                            <div class="row mb-2 ">
                                <div class="col-6">
                                    <a class="btn text-white rounded-pill w-100"
                                       style="background-color: purple; font-size: small;" onclick="ConfirmAccept(@items.RequestId)">
                                        Accept
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a class="btn bg-success text-white rounded-pill w-100"
                                       style="font-size: small;" asp-action="ViewNotes" asp-controller="Admin" asp-route-requestId="@items.RequestId">
                                        View Notes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>



@{
    double d = (double)Model.TotalRecord / 4;
    double pages = Math.Ceiling(d);
}

<div class="pagination-nav bg-white dark-mode1 d-flex justify-content-between flex-row p-4">


    <span class="d-flex justify-content-start fs-5">
        Showing @Model.ShowRecords of @Model.TotalRecord Entries
    </span>
    <nav aria-label="Page navigation example d-flex justify-content-between">
        <ul class="pagination">
            @* <li class="page-item page-item-story d-flex" id="1-newState">
            <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true"> << </span>
            </a>
            </li> *@
            <li class="page-item page-item-story d-flex" id="previousPage-newState">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">Previous</span>
                </a>
            </li>

            @for (int j = 1; j <= @pages; j++)
            {
                <li class="page-item page-item-story" id="@j-newState"><a class="page-link">@j</a></li>
            }
            <li class="page-item page-item-story d-flex" id="nextPage-newState" data-TotalPages=@pages>
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">Next</span>
                </a>
            </li>
            @* <li class="page-item page-item-story d-flex" id="@pages-newState">
            <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true"> >> </span>
            </a>
            </li> *@
        </ul>
    </nav>



</div>



<script>
    function ConfirmAccept(requestId) {
        Swal.fire({
            title: "Are you sure you want to accept the request?",
            showDenyButton: true,
            confirmButtonText: "Accept",
            confirmButtonColor: "#198754",
            denyButtonText: `Cancel`
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    method: "GET",
                    url: "/Provider/AcceptCase",
                    data: { requestId: requestId },
                    success: function (res) {

                        // Success notification with Notyf
                        const notification = new Notyf({
                            duration: 4000, // Display for 4 seconds
                            position: {
                                x: 'right',
                                y: 'top'
                            }
                        });
                        notification.success('Request accepted successfully!');
                        window.location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error("Error accepting request:", textStatus, errorThrown);
                    }
                });
            } else if (result.isDenied) {
                // Error notification with Notyf
                const notification = new Notyf({
                    duration: 4000, // Display for 4 seconds
                    position: {
                        x: 'right',
                        y: 'top'
                    }
                });
                notification.error('Failed to accept request!');
            }
        });
    }

</script>

<script src="/js/ProviderDashboardPagination.js"></script>
@* <script src="/js/Filteration.js"></script> *@


